---
- name: Install zsh
  ansible.builtin.apt:
    name: zsh
    state: present
  become: true

- name: Configure users
  block:
  - name: Create group
    ansible.builtin.group:
      name: "{{ item.group }}"
      state: present
  - name: Create users
    ansible.builtin.user:
      name: "{{ item.username }}"
      state: present
      group: "{{ item.group }}"
      shell: "{{ item.shell }}"
      create_home: yes
  - name: Create an ssh directory if it does not exist
    ansible.builtin.file:
      path: "/home/{{ item.username }}/.ssh"
      state: directory
      owner: "{{ item.username }}"
      mode: 0700
  - name: Set user SSH key
    ansible.builtin.copy:
      content: "{{ item.public_key }}"
      dest: "/home/{{ item.username }}/.ssh/authorized_keys"
      mode: 0644
  - name: Allow user ssh
    ansible.builtin.lineinfile:
      path: /etc/ssh/sshd_config
      line: AllowUsers {{ item.username }}
      validate: sshd -t -f %s
  - name: Restart SSH service
    ansible.builtin.service:
      name: sshd
      state: restarted
  become: true