---
- name: Update packages
  hosts: nginx
  tasks:
    - name: Generate ECDSA SSH key
      command: ssh-keygen -q -t ecdsa -f /root/.ssh/id_ed25519 -C "" -N ""
      args:
        creates: /root/.ssh/id_ed25519
    - name: Display public key
      command: cat /root/.ssh/id_ed25519.pub
      register: command_output
    - name: Print to console
      debug:
        msg: "{{ command_output.stdout }}"
    - name: Wait for public key to be updated
      ansible.builtin.pause: 
        prompt: Update public git key and press enter
    # - name: Disable landlock for pacman
    #   lineinfile:
    #     path: /etc/pacman.conf
    #     regexp: ^#DisableSandbox
    #     line: DisableSandbox
    - name: Update system packages
      apt:
        update_cache: true
        upgrade: true
    # - name: Install gpg
    #   apt:
    #     name:
    #       - gnupg2
    #     state: present
    # - name: Add tailscale apt key
    #   ansible.builtin.apt_key:
    #     url: https://pkgs.tailscale.com/stable/debian/bookworm.noarmor.gpg
    #     state: present
    #     file: /usr/share/keyrings/tailscale-archive-keyring.gpg
    # - name: Add tailscale repository
    #   ansible.builtin.apt_repository:
    #     repo: deb [signed-by=/usr/share/keyrings/tailscale-archive-keyring.gpg] https://pkgs.tailscale.com/stable/debian bookworm main
    #     state: present
    #     update_cache: true
    - name: Install nginx and certbot packages
      apt:
        name:
          - git
          - rsync
          - nginx
          - libnginx-mod-stream
          - certbot
          - python3-certbot-dns-cloudflare
        state: present
    - name: Checkout configuration
      git:
        repo: git@github.com:Benjaminmnoer/nginx.git
        dest: ~/nginx/
        version: master
        accept_hostkey: true
    # - name: Synchronize repo with nginx folder
    #   synchronize:
    #     src: ~/nginx/
    #     dest: /etc/nginx
    #     delete: true
    #     recursive: true
    #   delegate_to: "{{ inventory_hostname }}"
    - name: Synchronize repo with nginx folder
      command: rsync -a --delete --recursive --links --exclude='.git' --exclude='.gitignore' ~/nginx/ /etc/nginx
    - name: Enable and start nginx service
      service:
        name: nginx
        state: started
        enabled: true
    # - name: Enable and start tailscale service
    #   service:
    #     name: tailscaled
    #     state: started
        # enabled: true
    # - name: Copy the sync script to target server
    #   copy:
    #     src: files/sync-update-config.sh
    #     dest: /root/sync-update-config.sh
    #     owner: root
    #     group: root
    #     mode: "0755"
    # - name: Add cron job to run the script
    #   cron:
    #     name: "Git Repo Sync Script"
    #     minute: "0"
    #     hour: "*"
    #     job: /root/sync-update-config.sh
    #     user: root